{{ form_start(form) }}

    <div>{{ form_errors(form) }}</div>

    <div class="mb-3">
        {{ form_row(form.name) }}
    </div>
    <div class="mb-3">
        {{ form_row(form.surname) }}
    </div>
    <div class="mb-3">
        {{ form_row(form.email) }}
    </div>
    <div class="mb-3 ">
        {{ form_row(form.phone) }}
    </div>
    <div class="mb-3">
        {{ form_row(form.note) }}
    </div>

    <div>
        <a href="{{ path('app_index') }}" class="btn btn-secondary">Zpět</a>
        <button type="submit" class="btn btn-primary">Uložit</submit>
    </div>

{{ form_end(form) }}