{% extends 'base.html.twig' %}

{% block title %}Adresář kontaktů - editace {{contact.name}} {{contact.surname}}{% endblock %}

{% block body %}

    <h3>Editace: {{contact.name}} {{contact.surname}}</h3>

    <div class="container">
        <div class="row d-flex">
            <div class="col-6">

                {{ include('contact/_form.html.twig') }}

            </div>
        </div>
    </div>

{% endblock %}