{% extends 'base.html.twig' %}

{% block title %}Adresář kontaktů - výpis{% endblock %}

{% block body %}

  <div class="count p-2 d-flex">
    <a href="{{ path('app_add') }}" class="btn btn-primary mr-4">Přidat kontakt</a>
    <div class="p-2">Celkový počet záznamů: <strong>{{ paginatedContacts.getTotalItemCount }}</strong></div>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>Jméno</th>
        <th>Přijmení</th>
        <th>Telefon</th>
        <th>E-mail</th>
        <th>Poznámka</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      {% if paginatedContacts|length > 0 %}
        {% for contact in paginatedContacts %}
          <tr>
            <td>{{contact.name}}</td>
            <td>{{contact.surname}}</td>
            <td>{{contact.phone}}</td>
            <td>{{contact.email}}</td>
            <td>
              <a href="#" class="js_show-note btn btn-light" data-id="{{ contact.id }}">Zobrazit</a>
            </td>
            <td>
              <a href="{{ path('app_edit', { slug: contact.slug }) }}" class="btn btn-warning">EDITOVAT</a>
              <a href="{{ path('app_remove', { id: contact.id }) }}" class="btn btn-danger">SMAZAT</a>
            </td>
          </tr>
        {% endfor %}
      {% else %}
        <tr>
          <td colspan="6">Žádné kontakty</td>
        </tr>
      {% endif %}
    </tbody>
  </table>

  <div class="navigation">
    {{ knp_pagination_render(paginatedContacts) }}
  </div>

{% endblock %}