{% extends 'base.html.twig' %}

{% block title %}Vytvořit kontakt{% endblock %}

{% block body %}

    <div class="container">
        <div class="row d-flex">
            <div class="col-6">

                {{ include('contact/_form.html.twig') }}

            </div>
        </div>
    </div>

{% endblock %}